<input type="text" id="new-todo" placeholder="What needs to be done?" />
 
<section id="main">
    <ul id="todo-list">
    {{#each itemController="todo"}}
        <li {{bind-attr class="isCompleted:completed isEditing:editing"}}>
            {{#if isEditing}}
                {{input type="text" class="edit" value=title focus-out="acceptChanges"
                    insert-newline="acceptChanges"}}
        {{else}}
            {{input type="checkbox" checked=isCompleted class="toggle"}}
            <label {{action "editTodo" on="doubleClick"}}>{{title}}</label>
            <button {{action "removeTodo"}} class="destroy"></button>
            {{/if}}
        </li>
    {{/each}} 
    </ul>
    {{outlet}}
    <input type="checkbox" id="toggle-all">
</section>
 
<footer id="footer">
    <span id="todo-count">
        <strong>2</strong> todos left
    </span>
    <ul id="filters">
        <li>
            {{#link-to "todos.index" activeClass="selected"}}All{{/link-to}}
        </li>
        <li>
            {{#link-to "todos.active" activeClass="selected"}}Active{{/link-to}}
        </li>
        <li>
            {{#link-to "todos.complete" activeClass="selected"}}Compete{{/link-to}}
        </li>
    </ul>
 
    <button id="clear-completed">
        Clear completed (1)
    </button>
</footer>
